/***********************************************/
/* based on 2col_leftNav.css                   */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/ 

body{
	font-family: Arial,sans-serif;
	color: #333333;
	line-height: 1;	
	margin: 0px;
	padding: 0px;
}

a:link, a:visited, a:hover {
	color: #006699;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
/* overrides decoration from previous rule for hovered links */

h1, h2, h3, h4, h5, h6 {
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
}

h1{
 font-family: Verdana,Arial,sans-serif;
 font-size: 120%;
 color: #334d55;
}

h2{
 font-size: 114%;
 color: #006699;
}

h3{
 font-size: 114%;
 color: #334d55;
 font-style: italic;
}

h4{
 font-size: 100%;
 font-weight: normal;
 color: #333333;
}

h5{
 font-size: 100%;
 color: #334d55;
}

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

label{
 font: bold 100% Arial,sans-serif;
 color: #334d55;
}
				
.latin{font-style:italic;
}
/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#masthead{
	margin: 0;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #cccccc;
	width: 100%;
}

#content{
	float:left;
	width: 950px;
	margin: 0px 0px 20px 20px;
}


/***********************************************/
/*Component Divs                               */
/***********************************************/

#siteName{
	margin: 0px;
	padding: 0px 0px 10px 20px;
}


/*************** #pageName styles **************/

#pageName{
	padding: 0px 0px 10px 20px;
}



/************** .feature styles ***************/

.feature{
	clear: both;
	margin: 30px 0px 0px 0px;
	padding: 30px 10px 10px 20px;
	font-size: 80%;
	border-color: $ccc;
	border: 1px solid #CCCCCC;
}

.feature h3{
	padding: 0px 0px 5px 0px;
	text-align: center;
}

.feature h5{
	padding: 0px 0px 20px 0px;
	text-align: center;
}

.feature img{
	float: left;
	padding: 0px;
	margin: 5px 7px 5px 0px;
}
/* adjust margins to change separation between the feature image and text flowing around it */


/************** .story styles *****************/

#month{
	clear: both;
	padding: 10px 0px 0px 10px;
	font-size: 80%;
	border: 1px solid #ccc;
}

#monthimage{
	float: left;
	width: 400px;
}

#monthimage img{
	padding: 0px 0px 0px 0px;
	margin: 0px 5px 5px 0px;
}

#monthimage p{
	font-size: 75%;
}

#monthtext{
	float: right;
	width: 500px;
	padding: 20px 5px 0px 10px;
	position: relative;
}
	
#monthtext a{
	top: 10px;
}

.spacer{
	clear: both;
	height: 30px;
}
